@media all {
    body {font: 400px 14px/1.3 Roboto, sans-serif; color: #000;}
}

@media screen {
    header {background: url(../layout2-assets/hero-image-greece.webp) top center no-repeat; min-height: 527px; width: 100%;}
}

@media screen and (max-width: 1010px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media print {

}